html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}
.reset-permissions {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

ul {
  padding-inline-start: 0;
}
.reset-permissions li {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

.reset-permissions .arrow-up {
  position: absolute;
  right: 0px;
  top: -50px;
}

.reset-permissions .arrow-down {
  margin-left: 30px;
  margin-top: 15px;
}
.reset-permissions .three-dots {
  margin-left: 40px;
}
.reset-permissions span.blue {
  color: #00b2fd;
}

.reset-permissions span.number {
  width: 37px;
  height: 37px;
  background-color: #20263d;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.reset-permissions .button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  width: 215px;
  height: 62px;
  border-radius: 31px;
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.15);
  background-color: #3cb0f7;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  border: none;
}
